@font-face {
  font-family: "baron_neueblack";
  src: url("fonte/baronneue-black-webfont.woff2") format("woff2"),
    url("fonte/baronneue-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baron_neueblack_italic";
  src: url("baronneue-blackitalic-webfont.woff2") format("woff2"),
    url("baronneue-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "baron_neuebold";
  src: url("fonte/baronneue-bold-webfont.woff2") format("woff2"),
    url("fonte/baronneue-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baron_neuebold_italic";
  src: url("baronneue-bolditalic-webfont.woff2") format("woff2"),
    url("baronneue-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baron_neueitalic";
  src: url("baronneue-italic-webfont.woff2") format("woff2"),
    url("baronneue-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baron_neueregular";
  src: url("baronneue-regular-webfont.woff2") format("woff2"),
    url("baronneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #2d66ee;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.hamburger {
  display: none;
}

.bar {
  width: 2rem;
  height: 0.25rem;
  margin: 0.25rem auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 4px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_item {
  margin: 1rem;
}

.nav_link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald", sans-serif;
  border-left: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  padding: 0 0.5rem;
}

.nav_link:hover {
  color: #2d66ee;
  background-color: #feb700;
  border-left: 0.125rem solid #feb700;
  border-right: 0.125rem solid #feb700;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  font-family: "baron_neueblack";
}

.logo:hover {
  color: #feb700;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 0 5rem;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  color: #2d66ee;
  font-family: "baron_neuebold";
  text-align: center;
}

h2 {
  font-family: "baron_neuebold";
  color: #2d66ee;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: "Oswald", sans-serif;
  color: #2d66ee;
  font-size: 3rem;
  text-align: center;
}

.white {
  color: white;
}

#section_web {
  margin-top: 4rem;
}

#hero {
  display: grid;
}

#hero_heading {
  grid-area: 1/1;
}

#head1 {
  margin: auto;
}

#head1,
#img_hero {
  grid-area: 1/1;
}

#hero_img {
  margin-bottom: 1.5rem;
  background-image: url(billeder/splash.jpg);
  background-size: cover;
  width: 100%;
  height: 55rem;
  background-position: 52% 10%;
  display: grid;
  place-content: center;
}

#indhold {
  display: grid;
}

#grid {
  margin-bottom: 2rem;
}

#arrow {
  position: relative;
  width: 2rem;
  height: auto;
  margin: auto;
  margin-bottom: 3rem;
  transition: smooth 3ms;
  animation-name: pil_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes pil_kf {
  to {
    transform: translateY(3px);
  }
}

#duck {
  display: none;
}

footer {
  background-color: #2d66ee;
  padding: 3rem;
}

address {
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .nav_menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #2d66ee;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav_menu.open {
    left: 0;
  }

  .nav_item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.open .bar:nth-child(2) {
    transform: translateX(50px);
  }

  .hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (min-width: 800px) {
  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
    object-fit: cover;
  }

  #om_mig {
    grid-area: 1/1 / span 3 / span 1;
  }

  #animation {
    grid-area: 2/2;
  }

  #duck {
    display: block;
    grid-area: span 1 / span 2;
  }

  .index_img {
    height: 100%;
  }

  h2 {
    margin: 0;
    padding: 0.125rem;
  }

  h1.white {
    font-size: 8rem;
    transform: scale(1, 1.5);
  }

  .index_img {
    filter: saturate(0.5);
  }

  .index_img:hover {
    filter: saturate(1.5);
  }
}
