@font-face {
  font-family: "baron_neueblack";
  src: url("fonte/baronneue-black-webfont.woff2") format("woff2"),
    url("fonte/baronneue-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baron_neueblack_italic";
  src: url("baronneue-blackitalic-webfont.woff2") format("woff2"),
    url("baronneue-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "baron_neuebold";
  src: url("fonte/baronneue-bold-webfont.woff2") format("woff2"),
    url("fonte/baronneue-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baron_neuebold_italic";
  src: url("baronneue-bolditalic-webfont.woff2") format("woff2"),
    url("baronneue-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baron_neueitalic";
  src: url("baronneue-italic-webfont.woff2") format("woff2"),
    url("baronneue-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "baron_neueregular";
  src: url("baronneue-regular-webfont.woff2") format("woff2"),
    url("baronneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  max-width: 1400px;
  margin: auto;
  padding: 0 1.5rem;
}

.header {
  background-color: #2d66ee;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 0.3rem solid #feb700;
}

footer {
  background-color: #2d66ee;
  padding: 2rem;
  border-top: 0.3rem solid #feb700;
}

address {
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.hamburger {
  display: none;
}

.bar {
  width: 2rem;
  height: 0.25rem;
  margin: 0.25rem auto;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 4px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_item {
  margin: 1rem;
}

.nav_link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald", sans-serif;
  border-left: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  padding: 0 0.5rem;
  transition: ease-out 250ms;
}

.nav_link:hover {
  color: #2d66ee;
  background-color: #feb700;
  border-left: 0.125rem solid #feb700;
  border-right: 0.125rem solid #feb700;
  box-shadow: 0 0 3rem #feb700;
}

.page_btn {
  font-size: 1rem;
  font-weight: 400;
  width: 8rem;
  text-align: center;
  display: block;
  background-color: #2d66ee;
  color: #fff;
  font-family: "Oswald", sans-serif;
  border-left: 0.125rem solid #2d66ee;
  border-right: 0.125rem solid #2d66ee;
  padding: 0.2rem 0.5rem;
  transition: ease-out 250ms;
}

.page_btn:hover {
  color: #2d66ee;
  background-color: #feb700;
  border-left: 0.125rem solid #feb700;
  border-right: 0.125rem solid #feb700;
  box-shadow: 0 0 6rem #feb700;
}

#button ul {
  display: flex;

  margin: auto;
}

li {
  font-family: "Oswald", sans-serif;
  color: #222a3f;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.wrapper {
  margin-bottom: 5rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
  font-family: "baron_neueblack";
  transition: ease-out 250ms;
}

.logo:hover {
  color: #feb700;
  text-shadow: 0 0 6rem #feb700;
}

#desktop_only {
  display: none;
}

#lister {
  display: flex;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #2d66ee;
  font-family: "baron_neueblack";
  text-align: center;
  margin-bottom: 4rem;
}

h2 {
  font-family: "baron_neuebold";
  color: #2d66ee;
  font-size: 2rem;
  margin: 2rem;
  padding-top: 2rem;
  text-align: center;
}

h3 {
  font-family: "Oswald", sans-serif;
  color: #2d66ee;
  font-size: 2rem;
  text-align: center;
}

h4 {
  font-family: "Oswald", sans-serif;
  color: #2d66ee;
  font-size: 1.6rem;
}

p {
  color: #222a3f;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  line-height: 2.1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.white {
  color: white;

  padding: 1rem;
  margin: auto;
}

.hero_txt {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  background-color: #2d67ee98;
  padding: 0.8rem;
  letter-spacing: 0.1rem;
  max-width: 500px;
  margin: auto;
}

#grid {
  margin-bottom: 4rem;
}

#hero {
  display: grid;
}

#head1 {
  margin: auto;
}

#head1,
#img_hero {
  grid-area: 1/1;
}

#hero {
  background-color: #2d67ee9d;
  background-size: cover;
  height: 40rem;
}

#hero_img {
  background-image: url(billeder/kasper_hero.webp);
  background-size: cover;

  background-position: 72% -38%;
  display: grid;
  place-content: center;
  mix-blend-mode: difference;
}

#hero_img_gal {
  background-image: url(billeder/kasper_sten_and.webp);
  background-size: cover;

  background-position: 72% -38%;
  display: grid;
  place-content: center;
  mix-blend-mode: difference;
}

#hero_img_om {
  background-image: url(billeder/kasper_sten_and.webp);
  background-size: cover;

  background-position: 72% -38%;
  display: grid;
  place-content: center;
  mix-blend-mode: difference;
}

#hero_img_web {
  background-image: url(billeder/img_6.webp);
  background-size: cover;

  background-position: 36% 67%;
  display: grid;
  place-content: center;

  mix-blend-mode: difference;
}

#hero_img_ux {
  background-image: url(billeder/Frede_diagonal.webp);
  background-size: cover;

  background-position: 45% 14%;
  display: grid;
  place-content: center;

  mix-blend-mode: difference;
}

#hero_img_ani {
  background-image: url(billeder/gameover.webp);
  background-size: cover;

  background-position: 71% 25%;
  display: grid;
  place-content: center;

  mix-blend-mode: difference;
}

#hero_img_con {
  background-image: url(billeder/blumen.webp);
  background-size: cover;

  background-position: 71% 25%;
  display: grid;
  place-content: center;

  mix-blend-mode: difference;
}

#indhold {
  display: grid;
}

#grid {
  margin-bottom: 2rem;
}

.arrow {
  box-sizing: border-box;
  height: 2.5rem;
  width: 2.5rem;
  border-style: solid;
  border-color: #feb700;
  border-width: 0px 8px 8px 0px;
  transform: rotate(45deg);
  transition: ease-out 250ms;
}
.arrow:hover {
  border-bottom-width: 18px;
  border-right-width: 18px;
}
.container {
  display: grid;
  justify-content: center;
}
#duck {
  display: none;
}
.kategori {
  display: grid;
}
.kategori .a_img {
  grid-area: 1/1;
}
.kategori .a_head {
  grid-area: 1/1;
  margin: auto;
  background-color: #2d66ee;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
  height: 3rem;
  width: 12rem;

  z-index: 1;
  transition: ease-out 250ms;
  font-size: 2rem;
}

.kategori .a_head:hover {
  color: #2d66ee;
  background-color: #feb700;
  box-shadow: 0 0 6rem #feb700;
  box-shadow: inset 0 0 6rem #feb700;
}
.index_img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .nav_menu {
    position: fixed;
    left: -100%;
    top: 3rem;
    flex-direction: column;
    background-color: #2d66ee;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav_menu.open {
    left: 0;
  }
  .nav_item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    transition: ease-out 250ms;
  }
  .hamburger:hover {
    margin: 0.25rem;
  }

  .hamburger.open .bar:nth-child(2) {
    transform: translateX(70px);
  }
  .hamburger.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (min-width: 800px) {
  main {
    padding: 0 5rem;
  }

  .container {
    margin-bottom: 3rem;
  }

  #button ul {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

  #hero {
    height: 55rem;
  }

  #grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
    margin-bottom: 5rem;
  }

  #om_mig {
    grid-area: 1/1 / span 3 / span 1;
  }

  #animation {
    grid-area: 2/2;
  }

  #duck {
    display: grid;
    grid-area: span 1 / span 2;
  }
  h2 {
    font-size: 2.6rem;
    margin: 0;
    padding: 0.125rem;
  }
  .index_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h1.white {
    font-size: 6rem;
    transform: scale(1, 1.4);
  }

  h3.white {
    font-size: 4rem;
  }
  .side_img,
  .index_img {
    filter: saturate(0.3);
    transition: ease-out 0.25s;
  }

  video {
    transition: ease-out 0.25s;
  }

  .a_img {
    transition: ease-out 0.5s;
    padding: 0;
  }

  .side_img:hover,
  .index_img:hover {
    filter: saturate(1);
    box-shadow: 0 2rem 3rem grey;
  }

  video:hover {
    box-shadow: 0 2rem 3rem grey;
  }

  /* > er en combinator og vælger alle børn af parent-element .kategori :not() bruges til at fravælge et bestemt element */

  .kategori:hover > *:not(.a_img) {
    color: #2d66ee;
    background-color: #feb700;

    filter: saturate(1);
    box-shadow: 0 0 6rem #feb700;
  }

  .grid_wrapper {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    gap: 1.2rem;
  }

  .grid_wrapper_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  #section_1 .grid_wrapper .col_2,
  #section_3 .grid_wrapper .col_2 {
    grid-area: span 1 / span 2;
  }

  #section_1 .col_1,
  #section_3 .col_1 {
    grid-area: span 2 / span 1;
  }

  #section_2 .col_2,
  #section_4 .col_2 {
    grid-area: 1/1 / span 1 / span 2;
  }

  #section_2 .col_1,
  #section_4 .col_1 {
    grid-area: 1/3;
  }

  #desktop_only {
    display: block;
  }

  .page_btn {
    font-size: 1.5rem;
    width: 15rem;
  }

  #grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    object-fit: cover;
    gap: 1.2rem;
    margin-bottom: 5rem;
  }

  #web3 {
    grid-area: 1/3 / span 2 / span 2;
  }

  #web4 {
    grid-area: span 2 / span 2;
  }
  #web6_bred {
    grid-area: span 1 / span 2;
  }

  #web7 {
    grid-area: 3/4;
  }

  #web8_bred {
    grid-area: 2 / span 2;
  }

  #web10 {
    grid-area: 5 / 1 / span 2 / span 2;
  }

  #web11 {
    grid-area: 6/3;
  }

  #web12 {
    grid-area: span 2 / span 1;
  }

  #grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.2rem;
    margin-bottom: 5rem;
  }

  #ux1 {
    grid-area: span 2;
  }

  #ux2 {
    grid-area: 1/1 / span 2 / span 3;
  }

  #ux3 {
    grid-area: span 3 / span 2;
  }

  #ux4 {
    grid-area: span 3 / span 2;
  }

  #grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
    margin-bottom: 5rem;
  }

  #con2 {
    grid-area: span 1 / span 2;
  }

  #hero_img_om {
    background-image: url(billeder/sten.webp);
  }
}
